<!--DOCTYPE html -->
{% load staticfiles %}
<html>
<head>
<title>
    {% block title %}{% endblock %}</title>

    <!-- THird Party Css -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">



    <!-- CUstom CSS-->
    <link ref='styleshhet' href="{% static 'css/base.css' %}">

    {% block head %}{% endblock %}

</head>

<body>
    <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {% include "messages_display.html" %}
    <div class='container'>
        {% include "navbar.html" %}
        <div class="row">
            <div class="col-sm-3">
                <div class="profile-wrapper">
                    <img src="{% static 'images/profile.jpg' %}" class='img-responsive img-rounded ' style="border-radius:100px;width:200px;height:200px;">
                    <div class="social-link">
                        <p style='font-weight:bolder;font-size:20px;'>RituRaj</p>
                        <p><span><a href="https://github.com/djangoconfire"><img src="{% static 'images/github.png' %}" style="width:30px;height:30px;"></a>
                            <a href='https://www.linkedin.com/in/ritu-raj-4467049b/'><img src="{% static 'images/linkedin.png' %}" style="width:30px;height:30px;"></a></span></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                 {% block content %}

                 {% endblock %}
            </div>
        </div>


    </div>

    <!-- THird Party Js -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Markdown here -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
    {% block js_block %}
    {% endblock %}
</body>
</html>