{% load staticfiles %}
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/posts/">Blog</a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'posts:post-list' %}">Project</a></li>
                <li><a href="#">Portfolio</a></li>
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li><a href="{% url 'posts:post-create' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Post</a></li>
                {% endif %}
                <li><a href='#'>About Me</a></li>
            </ul>
        </div>
    </div>
</nav><!--ENd of navbar-->